input{
    color: white;
}
.Header {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 6em;
    background-color: #222222;
    width: 100%;
    height: 4em;
    position: relative;
}

.logo {
    font-size: 2em;
}

.logo>span {
    color: red;
    padding: 3px;
}

.searchBar {
    position: absolute;
    left: 30em;
    /* padding: 0.5em; */
    display: flex;
    justify-content: center;
    align-items: center;git

}

.searchBar-input {
    background: black;
    width: 35em;
    padding: 0.5em;
    border: 1px solid #444D56;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.searchBar-button {
    padding: 0.2em;
    background-color: #202020;
    color: #323232;
    width: 60px;
    border: 1px solid #444D56;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

@media screen and (max-width: 1165px) {
    .logo {
        font-size: 1.5em;
    }

    .Header {
        display: flex;
        flex-direction: column;
        padding: 5px 3em;
        position: static;
        justify-content: space-between;
    }

    .searchBar {
        position: static;
        width: 25em;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 600px) {
    .Header {
        padding: 5px 10px;
    }

    .searchBar {
        position: static;
        width: 10em;
        margin-bottom: 1em;
    }
}