*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  height: 100vh;
  width: 100vw;
}
body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
  width: 100%;
}
h5{
  display: block;
    font-size: 0.83em;
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p{
  display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#root{
  background-color: black;
  overflow-x: hidden;
}
a:link {
  color: none;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}